.myname{
    font-family: Exo , sans-serif;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
.font{
    font-family: Exo , sans-serif;
}
.phone >a {
    text-decoration: none;
    color: white;
}
.email >a {
    text-decoration: none;
    color: white;
}