.timeline-border {
  position: relative;
}

.timeline-border::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
   background-color: rgb(47, 180, 233);
   
}


.timeline-border {
  width: 4px;
  background-color: rgb(33, 37, 41); 
  left: 50%;
 
}


.timeline-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 0;
 z-index: 1;

 background-color: rgb(47, 180, 233);
}
.timeline-item-left {
  padding-right: 2rem;
}
.timeline-item-left .timeline-dot {
  right: -7px;
}


.timeline-item-right {
  padding-left: 2rem;
}
.timeline-item-right .timeline-dot {
  left: -7px;
}
@media(min-width: 767.98px){
  .timeline-dot{
    display: none ;
  }
}
@media (max-width: 767.98px) {
  .timeline-border {
    display: none;
  }

  .timeline-item-left,
  .timeline-item-right {
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .timeline-dot {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    margin-top: -20px;
    color: white;
  }
}
