.timeline-border {
  position: relative;
}

.timeline-border::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
   background-color: rgb(47, 180, 233);
   
}